<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="dicoding:email" content="solehr619@gmail.com">
  <meta name="theme-color" content="#0077b6">
  <meta name="description" content="Aplikasi pencatatan Keuangan pribadi">
  <meta name="keywords" content="Aplikasi keuangan">
  <meta name="author" content="tim msib dicoding batch2 cpsg-78">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" href="fincord.png">
  <link rel="manifest" href="/manifest.json" >
  <title>Fincord | Financial Record</title>
</head>
<body>
  <skip-content></skip-content>
  <loading-bar></loading-bar>
  <header>
    <header-element></header-element>
    <nav></nav>
  </header>
  <main id="main"></main>
  <footer>
    <footer-element></footer-element>
  </footer>
</body>
</html>