@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,300&display=swap');
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import 'lib/sweet-alert2.scss';

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  //     box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

$dark-primary: #03045e;
$primary: #0077b6;
$scondary-1: #00b4d8;
$scondary-2: #90e0ef;
$scondary-3: #caf0f8;
$white: #fff;
$dark: #000;

main {
  min-height: 90vh;
  // background-color: $scondary-2;
  // margin-top: 10px;
  position: relative;
}

header-element.app {
  display: none;
}

.btn {
  border-radius: 0;
  border: none;
  padding: 0.5em 1em;
  font-size: 1em;
  border-radius: 10px;
}

.btn-primary {
  background-color: $primary;
  color: white;
}

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mb-2 {
  margin-bottom: 2em;
}

.ml-1 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 8px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: cemter;
}

.justify-between {
  justify-content: space-between;
}

.button {
  padding: 8px 12px;
  border: none;
  font-weight: 500;
  border-radius: 6px;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  main.app {
    margin-top: 5.5em;
    margin-left: 6em;
    padding: 1em;
  }

  header-element.app {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-content {
    padding: 12px 16px;
  }

  .content-tagihan {
    flex-direction: column;
  }

  .button {
    padding: 12px 12px;
  }

  .pay-button {
    margin-bottom: 24px;
  }

  .form-tambah {
    max-width: 100%;
  }
}