@use '../root.scss' as root;

.header-element {
  display: flex;
  gap: .5em;
  align-items: center;
  padding: 20px 10%;
  background-color: root.$white;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);

  img {
    width: 44px;
    height: 50px;
  }

  h1 {
    color: root.$primary;
    text-transform: uppercase;
  }
}

@media screen and(min-width:1024px) {
  .header-element.app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 1em;
  }
}

@media screen and(max-width:650px) {
  .header-element {
    justify-content: center;
  }
}