@use '../root.scss' as root;

.dashboard-expend {
  p.title {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: 500;
    color: root.$primary;
  }

  .content {
    text-align: center;
    p:first-child {
      color: root.$dark;
      font-size: 2rem;
    }
    img {
      width: 80%;
    }
  }
}