@use '../root.scss' as root;

.dashboard-expend {
  p.title {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: 500;
    color: root.$primary;
  }

  .content {
    
    .not-found {
      text-align: center;
      width: 100%;

      img {
        width: 80%;
      }

      p {
        color: root.$dark-primary;
        font-weight: 500;
        font-size: 1.2rem;
        font-style: italic;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .dashboard-expend {
    .content {
      .not-found {
        img {
          width: 30%;
        }
      }
    }
  }
}