@use '../root.scss' as root;

.main-login{
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 10% 20%;
    justify-content: center;
    
    .left{
        min-height: 40vh;
        width: 80%;
        background-color: root.$primary;
        align-items: center;
        border-radius: 15px 0 0 15px;
        display: flex;
        flex-direction: column;
        padding: 10%;

        img{
            height: 150px;
        }

        h1, h2{
            padding: 10px 0;
            color: root.$white;
            text-transform: uppercase;
        }
    }

    .right{
        padding: 6% 20px;
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        form{
            width: 70%;

            h1{
                padding:10px;
                font-size: 18px;
                text-align:center;
                color: root.$primary;
                text-transform: uppercase;
            }

            input[type=text], input[type=password], select {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: none;
                outline: none;
                font-size: 16px;
                box-sizing: border-box;
                border-left: 3px solid root.$primary;
                box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #fff;
                
                &:focus {
                    box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
                }
            }
            
            input[type=submit] {
                width: 100%;
                background-color: root.$primary;
                display: inline-block;
                color: white;
                font-size: 16px;
                padding: 10px 20px;
                font-weight: bolder;
                margin: 28px 0 8px;
                border: none;
                border-radius: 4px;
                border: 1px solid root.$primary;
                cursor: pointer;
            }
            
            input[type=submit]:hover {
                background-color: root.$white;
                color: root.$primary;
                border: 1px solid root.$primary;
            }
    
            p{
                font-family: sans-serif;
                padding: 16px 0;
                display: inline-block;    
                font-weight: lighter
            }
    
            a{
                text-align: center;
                font-family: sans-serif;  
                text-decoration: none;
                color: root.$primary;
            }
    
            a:hover{
                font-family: sans-serif;  
                text-decoration: underline;
                color: root.$primary;
            }
        }        
    }
}

@media screen and (max-width: 800px) {
    
    .main-login{
        display: flex;
        padding: 0;
        flex-direction: column;
        .left{
            width: 100%;
            padding: 20% 0;

            h1{
                font-size: 24px;
            }
        }
    }
}